{% extends 'base.html.twig' %}

{% block title %}Wishes list - Bucket List{% endblock %}

{% block body %}
    <main>
        <h1 class="page-title">La liste des buckets de la bucket-list !</h1>

        <div class="wish-list">
            {% for wish in wishes %}
                <a href="{{ path('wish_detail', {'id': wish.id}) }}" class="wish-card-link">
                    <div class="wish-card">
                        {{ wish.title }}
                        <div class="category-tag {% if not wish.category %}no-category{% endif %}">
                            {% if wish.category %}
                                #{{ wish.category.name }}
                            {% else %}
                                Sans catégorie
                            {% endif %}
                        </div>
                    </div>
                </a>

            {% else %}
                <p class="no-wish">Aucun souhait pour le moment.</p>
            {% endfor %}
        </div>
        <div>
            {% if pages != 1 %}
                {% if page == 1 %}
                    <div></div>
                    <div></div>
                    <div><a href="{{ path('wish_list', {page: page}) }}">{{ page }}</a></div>
                    <div><a href="{{ path('wish_list', {page: page + 1}) }}">Next ></a></div>
                    <div><a href="{{ path('wish_list', {page: pages}) }}">Last >></a></div>
                {% elseif page < pages %}
                    <div><a href="{{ path('wish_list', {page: 1}) }}"><< First</a></div>
                    <div><a href="{{ path('wish_list', {page: page - 1}) }}">< Prev</a></div>
                    <div><a href="{{ path('wish_list', {page: page}) }}">{{ page }}</a></div>
                    <div><a href="{{ path('wish_list', {page: page + 1}) }}">Next ></a></div>
                    <div><a href="{{ path('wish_list', {page: pages}) }}">Last >></a></div>
                {% else %}
                    <div><a href="{{ path('wish_list', {page: 1}) }}"><< First</a></div>
                    <div><a href="{{ path('wish_list', {page: page - 1}) }}">< Prev</a></div>
                    <div><a href="{{ path('wish_list', {page: page}) }}">{{ page }}</a></div>
                    <div></div>
                    <div></div>
                {% endif %}
            {% endif %}
        </div>
    </main>
{% endblock %}
